@import "tailwindcss";

/* -------------------------------------------------- */
/*                      Fonts                         */
/* -------------------------------------------------- */

/* Overpass Font - Regular */
@font-face {
    font-family: "Overpass";
    src: url("./assets/fonts/Overpass-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;   

    /* Fix whitespace issues in Overpass font based on font TTF */
    ascent-override: 88.3%;
    descent-override: 38.3%;
    line-gap-override: 0%; 
}

/* Martel Sans Font - Bold */
@font-face {
    font-family: "Martel Sans";
    src: url("./assets/fonts/MartelSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Hind Font - Regular */
@font-face {
    font-family: "Hind";
    src: url("./assets/fonts/Hind-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

/* -------------------------------------------------- */
/*                  Font Variables                    */
/* -------------------------------------------------- */
@theme {
    --font-overpass: "Overpass", sans-serif;
    --font-martelSans: "Martel Sans", sans-serif;
    --font-hind: "Hind", sans-serif;
}

/* Fine-tune vertical alignment for Overpass when paired with icons */
.overpass-align {
  line-height: 1;
  position: relative;
  top: 3px;
}

@layer base {
    h1 {
        font-family: 'Martel Sans', sans-serif;
        font-weight: bold;
        font-size: 60px;
    }

    h2 {
        font-family: 'Hind', sans-serif;
        font-weight: 400;
        font-size: 35px;
        font-style: normal;
    }

    p {
        font-size: 23px;
    }
}